<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones - Propicart</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Términos y Condiciones de Servicios</h1>

    <p>Al contratar nuestros servicios, EL CLIENTE acepta todas las condiciones detalladas en el chat y las condiciones detalladas aquí:</p>

    <p>1 - Usted acepta que los diseños digitales se crearán en nuestra plataforma con procesos de inteligencia artificial, el sistema utilizará las fotos que usted cargue en la plataforma para crear fotografías artificiales. Una vez brindado el usuario y/o contraseña que utilizará para acceder a la plataforma no se procederá a ningún tipo de devolución o reintegro.<p>

        <p>  2 - En la promoción que usted está por adquirir se incluye lo que el asesor le ha detallado por chat directo, en caso compre directamente en la plataforma se incluirá lo que en ese momento se detalla en la promoción que se muestre en nuestra pagina oficial. Usted acepta que si realiza el pago y no realiza la carga de los rostros en nuestra plataforma en el plazo que dura el servicio, nosotros no le insistiremos en que lo haga, tampoco se realizará algún tipo de devolución.<p>
        
            <p>3 - Usted reconoce que lo que realizará en nuestra plataforma es un montaje directo del rostro de una o varias de las fotos; el montaje se trata de poner un rostro detrás o adelante de una imagen plantilla que está disponible en nuestra plataforma.<p>
        
                <p>4 - Usted acepta que los fondos, modelos y creaciones disponibles en la plataforma son de exclusivo uso comercial de Propicart y las marcas asociadas oficialmente. Adquirir alguno de nuestros servicios no le da derecho a revender ni explotar comercialmente ninguno de los productos relacionados a Propicart.<p>
        
                    <p> 5 - Usted renuncia a todo tipo de reclamo sobre el trabajo final y acepta que no se realizará ningún tipo de devolución.<p>
        
                        <p>  6 - Usted acepta que subira las fotos tal como le indicaremos luego de su pago; en ningún momento lo hará un trabajador de nuestra empresa.<p>
        
                            <p> 7 - Usted acepta que NO se entregará ningún contenido impreso ni material físico como fotografías impresas, etc.<p>
        
                                <p>8 - Usted acepta y reconoce que las imágenes que aparecen en nuestra publicidad o en los chats donde presentamos nuestro trabajo son REFERENCIALES; eso significa que sus imágenes finales NO van a quedar iguales o con el mismo acabado, ya que es probable que alguna o varias imágenes que haya visto en nuestros sitios o chats hayan sido creadas con otros rostros o con inteligencia artificial.<p>
        
                                    <p>  9 - Usted acepta que a través del chat o página web se le han brindado especificaciones claras sobre cómo deben ser las imágenes que debe enviar; si sus imágenes no cumplen tales requisitos, nosotros no volveremos a insistir en tales puntos; tenga en cuenta que eso perjudicará su trabajo final. Usted acepta la total responsabilidad de tal asunto.<p>
        
                                        <p>  10 - Usted acepta que, por motivos especiales, la plataforma puede no estar disponible por algunas horas o días, por problemas técnicos, reparaciones o actualizaciones, esto sin necesidad de aviso o advertencia previa.<p>
        
                                            <p> 11 - Usted reconoce que la plataforma puede fallar en dispositivos móviles, celulares, tablets. La plataforma está optimizada para funcionar en computadoras con un excelente acceso a internet.<p>
        
                                                <p>  12 - Usted acepta que en caso de comunicarse de manera que interpretemos: agresiva, irrespetuosa, amenazante o insultante, procederemos a anular la comunicación directa y solo podrá escribirnos por correo, perdiendo la posibilidad de respuesta rápida de nuestra parte. Las respuestas por correo se realizan en plazos de 30 días hábiles a más.<p>
        
                                                    <p>   13 - Usted acepta que nosotros NO nos comprometemos a reenviarle sus fotografías ni imágenes en caso usted las pierda o no las descargue antes de cerrar su navegador. Nuestra plataforma no almacenará sus fotos, usted debe descargarlas a penas las cree</p>
    <!-- Aquí van los demás párrafos y contenido del texto -->

    <h2>Política de Devolución:</h2>
    <ul>
        <li>Solo procederemos a realizar devolución en caso no le otorgemos código de acceso a la plataforma en plazo de 7 días luego de su pago</li>
        <li>(No aplica en caso de que: el cliente no envió las fotos solicitadas en máximo 48hs luego de su pago, no envió comprobantes suficientes de su pago en el mismo día del pago por un canal oficial, o se haya eliminado la conversación de WhatsApp)</li>
    </ul>

    <p>Ante cualquier duda, escriba por los medios oficiales.</p>

</body>
</html>
